@model Modal.User

@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserInfo</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <style type="text/css">
        span {
            color:red;
            font-family:Arial;
            font-size:20px;
        }
        a {
            text-decoration:none;
        }
            a:hover {
                color:#ff6a00;
            }
        fieldset {
            line-height:30px;
        }
    </style>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>欢迎  <span style="color:red;">@Session["user"]</span></legend>
            <div>
                座右铭：<span>@Model.Des</span>
            </div>

            @Html.HiddenFor(model => model.Id)
    
            <div class="editor-label">
                @Html.LabelFor(model => model.UName,"用户名")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UName)
                @Html.ValidationMessageFor(model => model.UName)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.UPwd,"密码")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UPwd)
                @Html.ValidationMessageFor(model => model.UPwd)<span style="font-size:12px; color:gray;">请重新输入密码信息,显示密码为MD5加密后</span>
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.RName, "真实名称")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.RName)
                @Html.ValidationMessageFor(model => model.RName)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Age,"年龄")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Age)
                @Html.ValidationMessageFor(model => model.Age)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Sex,"性别")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Sex)
                @Html.ValidationMessageFor(model => model.Sex)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Des,"个人描述")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Des)
                @Html.ValidationMessageFor(model => model.Des)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Tel,"手机号码")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Tel)
                @Html.ValidationMessageFor(model => model.Tel)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Email,"邮箱")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
    
            <p>
                <input type="submit" style="border:none; background-color:#0eba31; color:white; cursor:pointer;" value="提交" />
            </p>


            
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("用户中心", "UserCenter")

    </div>
</body>
</html>
